div a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 50px;
    background-color: black;
    border-radius: 10px;
    padding: 2rem;
}

body {
    background-image: url("images/pattern.svg") !important ;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}